.right {
  width: 40%
}

.right .logo {
  width: fit-content;
  padding: 2px 14px;
  background-color: var(--primary-color);
  border-radius: 6px
}

.right p {
  width: 80%;
  line-height: 1.8;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold
}

.right .social {
  width: 68%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px
}

@media (max-width: 1200px) {
  .right {
    width: 100%;
    text-align: center
  }
  .right p {
    width: 100%
  }
  .right .social {
    width: 100%;
    justify-content: center
  }
  .right .social .boxSocial {
    width: 60%
  }
}

@media (max-width: 576px) {
  .right .social .boxSocial {
    width: 80%
  }
}